h1,h3 {
    text-align: center;
    font-family: Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}
body {
    
   padding:0;
    margin:0;
    background-color: #f5b3d6;
overflow-x: hidden;
}

.teto-text {
    text-align:justify;
    margin:auto;
   font-family:'Quicksand', sans-serif;
   font-size: 1.5rem;
  
}
.box1 {
    margin: 40px;
    width:300px;
 background-color: #fff7f9;
}
.topbar {
    width:100%;
    padding:1rem;
    display:flex;
   gap:0.5rem;
    background-color:rgb(245, 245, 220);
    align-items: center;
  justify-content: flex-start;
}

.page{
      padding:2rem;
    padding-left: 6rem;
    padding-right:6rem;
    z-index: 1;
    top:0;

}
.topbar-img img {
    width:50px;
    cursor: pointer;
    height:50px
}
.topbar-img{
    border-right: 2px solid #2e2e2e;
}
.dropdown {
color: #000000;
background-color:#ffffff;
cursor:pointer;
border:none;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 16px;


}
.dropdown:hover, .active {
    color: black;
    background-color: #fadde5;
   
   
}

.extension{
   max-height: 0;
    margin:10px;
     transition: max-height 0.2s ease-out;
     overflow:hidden;
}

.grid{
    display:grid;
gap:1rem;
   margin-bottom: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.test{
    display:flex;
    flex-direction: column;
}

.row{
   display:flex;
}
.column{
    margin-left: 4rem;
    flex:34%;
}
.column > img{
 margin-top: 15%;
  width:220px;
  border-style:double;
}

br{
    margin-bottom:20px;
}
hr{
    border-color: #2e2e2e;
}

body.light-mode {
    background-color: #f5b3d6;
    color: #2e2e2e;
   
}

body.dark-mode {
    background-color: #2e2e2e;
    color: #f5b3d6;
border-color: #ffffff;
}

body.light-mode hr{
 border-color: #2e2e2e;
}
body.dark-mode hr{
 border-color: #ffffff;
}
.sitecolor{
    background:none;
    border:none;
}
#imageToggle{
    width:2rem;
    height:2rem;
    cursor:pointer;
}

.sitecolor{
    display:flex;
    flex-direction: column;
    align-items: center;
}